$itemHoverBgColor: #ffffff;
$itemHoverActiveColor: #d1b352;
$itemTextColor: #0a655e;

.content-panel {
  position: relative;
}

.content-panel__container {
  position: relative;
  margin-top: 123px;
  display: flex;
}

.content-panel__content {
  flex-grow: 1;
}

.content__container {
  position: relative;
  margin-top: 88.49px;
}

.content__heading {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  color: $itemTextColor;
  font-weight: 900;
}

.content__items-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
