.header-panel {
  position: static;
}

.header-panel__container {
  position: relative;
  width: 100%;
  background: #0a655e 0% 0% no-repeat padding-box;
  display: flex;
}

.header-panel__background {
  position: absolute;
  top: 15px;
  left: 85px;
  background: transparent url("../../assets/images/letter_bg.png") 0% 0% no-repeat padding-box;
  width: 448px;
  height: 471px;
  z-index: 1;
}

.header-panel__header {
  display: flex;
  flex-wrap: wrap;
}

.header__details {
  flex-grow: 1;
  max-width: 562px;
}

.header__image {
  flex-grow: 1;
}

.header__details-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 56px;
  position: relative;
  margin-top: 63px;
}

.header__details-description {
  position: relative;
  font-family: "Roboto", sans-serif;
  margin-top: 32px;
  line-height: 25px;
  margin-bottom: 60px;
  font-size: 14px;
  color: #ffffff;
}

.details-description--normal {
  font-weight: 700;
}

.details-description--faded {
  font-weight: 300;
  color: #f1f5f5;
}

.image__container {
  position: relative;
}

@media screen and (min-width: 1275px) {
  .image-offset {
    position: absolute;
    left: 132px;
  }
}

@media screen and (max-width: 1275px) {
  .image-offset {
    position: relative;
  }
}
