.kazus-panel {
  position: static;
}

.kazus-panel__background {
  background: transparent url("../../assets/images/letter_bg.png") 0% 0% no-repeat padding-box;
  position: absolute;
  top: 15px;
  left: 85px;
  width: 448px;
  height: 471px;
  z-index: 0;
}

.kazus-panel__overlay {
  position: fixed;
  left: 0;
  top: 76px;
  background: #3e3e3e;
  opacity: 0.6;
  width: 100%;
  height: 869px;
  z-index: -1;
}

.kazus-panel__container {
  position: relative;
  display: flex;
}

.container__midsection {
  position: relative;
  flex-grow: 1;
  z-index: -2;
  display: flex;
}

.midsection__content {
  flex-grow: 1;
  max-width: 562px;
}

.midsection__heading {
  margin-top: 124px;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  color: #0a655e;
  font-weight: 900;
  letter-spacing: 2px;
}
