$borderColor: #f1f5f5;
$backgroundColor: #ffffff;
$fontColor: #2e3838;
$activeColor: #0a655e;
$activeIconShadowColor: rgba(128, 136, 136, 0.2);

$switchResolutionDimension: 534px;

.nav-panel {
  position: relative;
  z-index: 10;
}

.nav-panel__container {
  box-sizing: border-box;
  position: relative;
  top: -1px;
  left: 0px;
  width: 100%;

  border: 1px solid $borderColor;
  background: $backgroundColor 0% 0% no-repeat padding-box;

  display: flex;
  min-height: 90px;
}

.container__offset {
  //flex-grow: 1;
}

.offset--side {
  @media screen and (min-width: 1550px) {
    flex-basis: 357px;
    min-width: 357px;
  }
}

.offset--nav-link {
  flex-grow: 0.86;
}

.container__header {
  flex-grow: 3.47;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  position: relative;
  height: 43px;
  top: 27px;
  max-width: 167px;
  flex-grow: 1;
}

.container__mobile {
  @media screen and (min-width: 720px) {
    display: none;
  }
  @media screen and (max-width: 720px) {
    display: block;
  }
}

.mobile__button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  height: 40px;
  width: 40px;
}

.button_paragraph {
  color: $backgroundColor;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.header__link-container {
  flex-grow: 6.88;
  flex-wrap: wrap;
  @media screen and (min-width: 720px) {
    display: flex;
  }
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.nav-panel__offset {
  flex-grow: 1;
}

.offset--inner-blank {
  flex-grow: 5.25;
}

.offset--outer-blank {
  flex-grow: 0.9;
}

.offset--menu {
  flex-basis: 120px;
  display: flex;
}

.container__link {
  position: relative;
  top: 30px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 300;
  color: $fontColor;

  &:hover {
    color: #0a655e;
  }
}

.container__icon {
  position: relative;
  top: 43px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  flex-grow: 1;
}

.icon--active {
  height: 40px;
  max-width: 40px;
  border-radius: 50%;
  background: $activeColor 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 10px $activeIconShadowColor;
  color: $backgroundColor;
}

.icon__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon__image--white {
  filter: invert(50%) brightness(200%);
}

.icon__count-block {
  position: absolute;
  right: -7px;
  top: -2px;
  width: 13px;
  height: 13px;
  background: transparent
    radial-gradient(closest-side at 50% 50%, $activeColor 0%, #025c55 100%) 0%
    0% no-repeat padding-box;
  border-radius: 50%;
}

.count-block__number {
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: $backgroundColor;
  line-height: 14px;
}
