.shop-item {
  position: relative;
  margin-top: 5px;
}

.shop-item__container {
  position: relative;
  margin-top: 11px;
  width: 321px;
  height: 117px;
  background: rgba(240, 244, 244, 0.4) 0% 0% no-repeat padding-box;
  padding-top: 9px;
  padding-left: 11px;
}

.container__item-details {
  display: flex;
}

.item-details__item-icon {
  position: relative;
  flex-grow: 1;
}

.item-icon__container {
  position: relative;
  background: #f1f5f5 0% 0% no-repeat padding-box;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.icon__offset {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-details__item-description {
  flex-grow: 1;
  max-width: 188px;
}

.item-description__heading {
  position: absolute;
  left: 76px;
  width: 188px;
  color: #0a655e;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
}

.item-details__item-delete {
  flex-grow: 1;
}

.item-delate__container {
  position: absolute;
  right: 10px;
  width: 52px;
  height: 52px;
}

.container__item-price {
  position: absolute;
  width: 100%;
  display: flex;
  margin-left: 12px;
  margin-top: 22px;
  margin-bottom: 17px;
  font-family: "Roboto", sans-serif;
}

.item-price__heading {
  flex-basis: 202px;
  color: #2e3838;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.item-price__amount {
  flex-grow: 1;
}

.amount__text--normal {
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
}

.amount__text--currency {
  font-size: 15px;
  font-weight: 800;
  line-height: 30px;
}

.amount__text--vat {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-right: 13px;
}
